# SIT225: Data wrangling

In [3]:
# Fill in student ID and name
# 
student_id = ""
student_first_last_name = ""
print(student_id, student_first_last_name)

## Read the Data with Pandas

In [6]:
import pandas as pd

data_file = "shopping_data.csv"
csv_data = pd.read_csv(data_file)
print(csv_data)

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

### Just in case we have a large number of data, we can just show into only five rows with head function. It will show you 5 rows data automatically.

In [5]:
print(csv_data.head())

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40